.ordinateur{
    display : none;
}

.commandes-grid{
    display: grid;
    grid-template-columns: 35% 20% 15% 30%;

}

.command-button{
    background: none;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    width: 100%;
    margin: 0;
    color: black;
    padding: 5px;
    text-align: left;
}

.command-button:hover{
    background: rgba(163, 153, 139, 0.48);
}

.content-commande{
    height: 100%;
    overflow-y: auto;
}

.wait{
    background-color: rgba(234, 142, 142, 0.69);
}

.loading{
    background-color: rgba(234, 191, 142, 0.69);
}

.end{
    background-color: rgba(142, 234, 142, 0.69);
}

.input-status{
    width: min-content;
    min-width: 100px;
    font-size: 1em;
    padding-top:0;
    padding-bottom:0;
    margin-top:5px;
    margin-bottom:5px;
    margin-right: 0;
    box-shadow: none;
}

@media screen and (min-width: 700px) {
    .ordinateur{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .ordinateur{
        display : flex;
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    .commandes-grid{
        grid-template-columns: 30% 10% 10% 20% 30%;
    }

}