
.commande-header{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commande-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-auto-rows: min-content;
    height: 100%;
    overflow-y: auto;
}

.commande-footer{
    height: 70px;
    width: 100%;
}

.commande-checked{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commande-resume{
    display: none;
}

#cart{
    position: absolute;
    right: 10px;
}

#check-cart{
    position: absolute;
    right: 0;
}

@media screen and (min-width: 700px){
    .commande-grid{
        grid-template-columns: auto auto auto;
    }
}

@media screen and (min-width: 1024px){
    .commande-header{
        width: 100%;
    }
    .commande-grid{
        width: 80%;
        grid-template-columns: auto auto auto auto;
    }
    .commande-footer{
        width: 20%;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
    }
    .commande-resume{
        display: block;
        height: calc(100% - 110px);
        padding: 20px;
    }

    .commande-checked{
        height: 70px;
    }
    #cart{
        display: none;
    }

}
