.page{
    padding: 0;
}

.commande-header{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commande-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    grid-auto-rows: min-content;
    height: 100%;
    overflow-y: auto;
}

.commande-footer{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#cart{
    position: absolute;
    right: 10px;
}

#check-cart{
    position: absolute;
    right: 0;
}