.comptes-grid{
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: calc(40% - 40px) auto 20% 40px 40px;
    grid-auto-rows: min-content;
    align-items: center;
}

.invisible-button{
    background: none;
    border : none;
    width: fit-content;
    height: 90%;
    color: black;
    font-size: 1.1em;
    margin: 1px;
    padding: 1px;
    box-shadow: none;
}

.invisible-button:hover{
    background-color: #dcd5cc;
}

@media screen and (min-width: 700px) {
    .comptes-grid{
        grid-template-columns: calc(40% - 50px) auto 20% 50px 50px;
    }
}