.comptes-grid{
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: calc(40% - 40px) auto 20% 40px 40px;
    grid-auto-rows: min-content;
    align-items: center;
}

.nthchild:nth-child(2n){
    background-color: #f2f2f2;
}

.invisible-button{
    background: none;
    border : none;
    width: fit-content;
    color: black;
    font-size: 1.1em;
    margin: 1px;
    padding: 1px;
    box-shadow: none;
}

.invisible-button:hover{
    background-color: #dcd5cc;
}

.red{
    background-color: rgba(234, 142, 142, 0.69);
}

.green{
    background-color: rgba(142, 234, 142, 0.69);
}

.content-compte {
    height: calc(100vh - 100px);
    display: grid;
    grid-template-rows: 60px auto;
}

.body-compte{
    overflow-y: auto;
    height: calc(100% - 40px);
}

#group-gestion{
    position: absolute;
    right: 0;
}

.group-grid{
    display: grid;
    grid-template-columns: calc(100% - 75px) 35px 35px;
}

.group-grid .icon-button img{
    width: 20px;
    height: 20px;
}

.content-group{
    max-height: 300px;
    min-width: 250px;
    overflow-y: auto;
}

.little-icon{
    margin:0;
}

@media screen and (min-width: 700px) {
    .comptes-grid{
        grid-template-columns: calc(40% - 60px) auto 20% 50px 50px;
    }

    .group-grid{
        display: grid;
        grid-template-columns: calc(100% - 85px) 40px 40px;
    }

    .content-compte{
        height: calc(100vh - 120px);
    }
}

@media screen and (min-width: 1000px) {

    .body-compte{
        height: 100%;
    }
    .content-compte{
        height: calc(100vh - 90px);
    }
}