.offres-modal-grid{
    display: grid;
    grid-template-rows: 15px 60px 15px 60px 15px 60px 15px 60px 50px calc(100vh - 515px) 60px;
    margin-left: 10px;
}

.grid-offer{
    display: grid;
    grid-template-columns: calc(100% - 130px) 130px;
}

.ss-cat{
    margin-left: 20px;
}

.produit{
    margin-left: 40px;
}
