.offres-grid {
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 20% auto 15% 40px 40px;
    grid-auto-rows: min-content;
    align-items: center;
}

.nthchild:nth-child(2n){
    background-color: #f2f2f2;
}

.ordinateur{
    display: none;
}

.header {
    height: 50px;
}

.body {
    overflow-y: auto;
    height: calc(100% - 50px);
}


@media screen and (min-width: 700px) {

    .offres-grid {
        grid-template-columns: 20% auto 10% 10% 50px 50px;
    }

    .ordinateur{
        display: block;
    }
}