.offres-modal-grid{
    display: grid;
    grid-template-rows: 15px 60px 15px 60px 15px 60px 15px 60px 50px calc(100vh - 480px) 60px;
}

.ss-cat{
    margin-left: 20px;
}

.produit{
    margin-left: 40px;
}

.right{
    position: absolute;
    right: 15px;
}